aiogram==3.10.0
gspread==6.1.2
google-api-python-client==2.133.0
google-auth==2.29.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
python-dotenv==1.0.1
aiofiles==23.2.1
certifi==2024.12.14
apscheduler==3.10.4
pymorphy3
